.dracula-background {
  background-color: #282a36;
}

.dracula-foreground {
  color: #f8f8f2;
}

.dracula-comment {
  color: #6272a4;
}

.dracula-cyan {
  color: #8be9fd
}

.dracula-green {
  color: #50fa7b;
}

.dracula-orange {
  color: #ffb86c;
}

.dracula-pink {
  color: #ff79c6;
}

.dracula-purple {
  color: #bd93f9;
}

.dracula-red {
  color: #ff5555;
}

.dracula-yellow {
  color: #f1fa8c;
}
